.navbar {
    border-bottom: 1px solid $nickel;
}

.navbar-collapse {
    font-family: $sanspro;
    color: $nickel;
    padding-left: 17rem;
}

.navbar__logo {
    height: auto;
    font-family: $pacifico;
    font-weight: 400;
}

.nav-link {
    font-weight: $bold;
    font-size: $large;
    text-decoration: none;
}