.sidebar {
    width: 280px;
    border: 1px solid $nickel;
    padding: 0;
    margin: 0 auto;
    background-color: $light-gray;
    display: flex;
}

.sidebar__nosotros {
    text-align: center;
    &_img {
        border-radius: 50%;
    }
}

.siderbar__nosotros_boton {
    text-align: center;
    margin: 0 auto;
}