* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 65px;
    font-family: $sanspro;
    position: relative;
    scroll-behavior: smooth;
    text-align: center;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media (min-width: 370px) {
    body {
        max-width: 350px;
        margin: 0 auto;
    }
}

@media (min-width: 580px) {
    body {
        max-width: 580px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    body {
        max-width: 768px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    body {
        max-width: 992px;
        margin: 0 auto;
    }
}

@media (min-width: 1280px) {
    body {
        max-width: 1280px;
        margin: 0 auto;
    }
}