h1 {
    font-family: $kalam;
    font-weight: $bold;
    font-size: $xx-large;
}

h2 {
    font-family: $kalam;
    font-weight: $regular;
    font-size: $x-large;
}

p {
    font-family: $sanspro;
    font-weight: $regular;
    font-size: $medium;
}

h3 {
    font-family: $sanspro;
    font-weight: $regular;
    font-size: $medium;
}

h4 {
    font-family: $kalam;
    font-weight: $regular;
    font-size: $large;
    color: $salmon
}