h1 {
    font-family: $kalam;
    font-weight: $bold;
    font-size: $xx-large;
}

h2 {
    font-family: $kalam;
    font-weight: $regular;
    font-size: $x-large;
}

p {
    font-family: $sanspro;
    font-weight: $regular;
    font-size: $medium;
}

h3 {
    font-family: $sanspro;
    font-weight: $regular;
    font-size: $medium;
}

h4 {
    font-family: $kalam;
    font-weight: $regular;
    font-size: $large;
    color: $salmon
}

.tagcloud {
    padding: 1rem;
}

.tagcloud a {
    font-family: $sanspro;
    font-weight: $bold;
    font-size: $x-large;
    color: $salmon
}

a {
    color: $salmon;
    &:hover {
        color: $raisin-black;
    }
}